.MafsView {
  display: block;
  background: var(--mafs-bg);
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  font-family: inherit;
  font-variant-numeric: tabular-nums;
  touch-action: none;
  outline: 0;
  border-radius: 1rem;

  --mafs-bg: #2B2931;
  --mafs-fg: #B3AFAF;

  --mafs-origin-color: var(--mafs-fg);
  --mafs-line-color: #B3AFAF10;
  --mafs-line-stroke-dash-style: 4, 3;
  --grid-line-subdivision-color: #222;

  --mafs-red: #f11d0e;
  --mafs-orange: #f14e0e;
  --mafs-yellow: #ffe44a;
  --mafs-green: #15e272;
  --mafs-blue: #58a6ff;
  --mafs-indigo: #7c58ff;
  --mafs-violet: #ae58ff;
  --mafs-pink: #ee00ab;
}
